@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

/**variables */
/**mixin*/
.containerP {
  width: auto;
  height: auto;
  background-color: none;
  display: flex;
  padding: 10px 10px 10px 10px;
  flex-wrap: wrap;
  align-items: center;
}

.containerPn {
  width: auto;
  height: auto;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  padding: 10px 10px 10px 10px;
  flex-wrap: wrap;
  align-items: center;
}

.imgagenC img {
  padding: auto;
  width: 500px;
}

input:hover,
textarea:hover {
  background-color: #6ec0e9;
}

/**fin mixin**/
body {
  background: url(../img/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

html,
body {
  /* palicar este codigo para quitar el sobrante a la drecha*/
  max-width: 100% !important;
  overflow-x: hidden !important;
}

h2 {
  font-family: "Ubuntu", sans-serif;
  color: #31a3dd;
  font-size: 35px;
}

h3 {
  font-family: "Ubuntu", sans-serif;
  margin: 0 0 0 40px;
  padding: 0;
  color: #31a3dd;
  font-size: 20px;
}

.parrafosmedianos p {
  color: #31a3dd;
  font-size: 25px;
}

section {
  scroll-snap-align: start;
}

.scrolling1 {
  scroll-snap-type: y mandatory;
}

.h_servicios:hover {
  color: #6b40b6;
}

.p_separador {
  color: #b9c6cc;
  font-size: 18px;
  font-family: sans-serif;
}

.p_separador:hover {
  color: #6b40b6;
}

.cajanosotros {
  width: 100%;
  height: auto;
  padding: 8% 0;
  background-color: #e6e2f0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.cajacomo {
  width: 100%;
  height: auto;
  padding: 8% 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #474949;
  background: rgba(0, 0, 0, 0.5);
}

.cajaN {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px 10px 10px 10px;
  align-items: center;
  align-content: center;
  height: auto;
}

.cajaPn {
  width: 500px;
  height: 500px;
  margin: 10px;
  padding: 10px 10px 10px 10px;
  flex-wrap: wrap;
  margin-left: 40px;
}
.cajaPn p {
  font-size: 20px;
}

.picnosotros img {
  padding: 10px 10px 10px 10px;
  width: 500px;
  height: auto;
  flex-basis: 200px;
  transition: all 0.5s ease-in-out;
  margin-left: 35px;
}

.picnosotros img:hover {
  filter: opacity(0.6);
  transform: translate(10px, 9%);
}

/**css de trabaja con nosotros**/
.cajaTn {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  padding: 10px 10px 10px 10px;
  align-items: center;
  align-content: center;
  height: auto;
}

.cajaPtn {
  width: 500px;
  height: 500px;
  margin: 10px;
  padding: 10px 10px 10px 10px;
  flex-wrap: wrap;
  margin-left: 40px;
}
.cajaPtn p {
  font-size: 20px;
}

.picTnosotros img {
  padding: 10px 10px 10px 10px;
  width: 500px;
  height: auto;
  flex-basis: 200px;
  transition: all 0.5s ease-in-out;
  margin-left: 35px;
}

.picTnosotros img:hover {
  filter: opacity(0.6);
  transform: translate(10px, 9%);
}

/***fin trabaja con nosotros**/
/**del contacto**/
.cajaContact {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  background-color: #e6e2f0;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px 10px 10px 10px;
  align-items: center;
  align-content: center;
  height: auto;
}

.cajaPcontact {
  width: auto;
  height: auto;
  margin: 10px;
  padding: 10px 10px 10px 10px;
  text-align: justify;
  font-size: 18px;
  flex-wrap: wrap;
  margin-left: 40px;
}

.formContact {
  width: 600px;
  height: 500px;
  position: relative;
  border: solid 2px #31a3dd;
  padding: 2%;
  background-color: none;
  border-radius: 10px;
  justify-content: start;
  display: inline-block;
}

#comentarios {
  resize: none;
}

/**fin del contacto*/
.caja_parrafos_como {
  font-family: sans-serif;
  width: 700px;
  text-align: justify;
  align-items: center;
}

.pnosotros_funciona {
  font-family: sans-serif;
  font-size: 18px;
  color: #31a3dd;
  text-align: justify;
  padding: 20px 60px 30px;
  align-items: center;
}

.pnosotros {
  font-family: sans-serif;
  font-size: 18px;
  color: #31a3dd;
  text-align: justify;
  padding: 35px 10px 10px 10px;
}

.imgnosotros img {
  text-align: center;
  width: auto;
  height: 400px;
  padding: 25px 10px 10px 10px;
  transition: all 0.5s ease-in-out;
}

.imgnosotros img:hover {
  filter: opacity(0.8);
}

.p_servicios {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 17px;
  color: #31a3dd;
  margin-left: 100px;
}

.p_contact {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 17px;
  color: #31a3dd;
}

.p_footer {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #bcb8c4;
}

.top-header {
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
}

.main {
  padding-top: 9rem;
}

.header_redes {
  align-items: center;
  justify-content: space-between;
  background: #602a61;
  height: 69px;
}

.list_social {
  justify-content: right;
}

.list_social ul {
  justify-content: space-around;
  display: flex;
  list-style: none;
}

nav.list_social {
  width: 50%;
}

.header_logo {
  cursor: pointer;
  padding: 5px 10px 10px 70px;
  width: 30%;
}

.header_logo img {
  width: 30%;
}

.cajaTexto {
  position: absolute;
  top: 20%;
  text-align: center;
  font-size: 5vw;
  color: #fff;
  padding: auto;
  font-family: sans-serif;
  flex-wrap: wrap;
  width: 100%;
}

.fa-facebook-square {
  font-size: 30px;
  transition: all 0.9s ease;
  width: 100%;
}

.fa-facebook-square:hover {
  transform: scale(1.25);
}

.fa-instagram {
  font-size: 30px;
  transition: all 0.9s ease;
  width: 100%;
}

.fa-instagram:hover {
  transform: scale(1.25);
}

.fa-linkedin {
  font-size: 30px;
  transition: all 0.9s ease;
  width: 100%;
}

.fa-linkedin:hover {
  transform: scale(1.25);
}

.fa-youtube {
  font-size: 30px;
  transition: all 0.9s ease;
  width: 100%;
}

.fa-youtube:hover {
  transform: scale(1.25);
}

/*nav red del footer*/
.contenedor_footer {
  padding-top: 40px;
  padding-bottom: 20px;
  background-image: linear-gradient(to top, #5f72bd 0%, #9b23ea 100%);
}

.nav_red_footer {
  list-style: none;
  text-align: right;
  height: 5px;
}

.nav_red_footer li {
  display: inline-block;
  padding: 0px 40px;
  /* padding de espacio entre palabras del menu*/
}

.nav_red_footer li a {
  transition: all 0.3s ease 0s;
  /* el tiempo que dura el efecto hover*/
}

.nav_red_footer li a:hover {
  color: #a349a4;
}

/*datos de la empresa*/
.nav_red_footer2 {
  list-style: none;
  text-align: right;
  height: 5px;
  font-size: 18px;
  font-family: sans-serif;
}

.nav_red_footer2 li {
  color: #31a3dd;
  padding: 0px 40px;
  /* padding de espacio entre palabras del menu*/
}

.nav_red_footer2 li a {
  transition: all 0.3s ease 0s;
  /* el tiempo que dura el efecto hover*/
}

.nav_red_footer2 li a:hover {
  color: #a349a4;
}

/*aqui es el nav de del menu*/
.nav_menu li a {
  transition: all 0.3s ease 0s;
}

.nav_menu li a:hover {
  color: #a349a4;
  font-size: 18px;
}

.container#img {
  margin: 20%;
  padding: 20%;
}

.positionboton {
  position: absolute;
  top: 60%;
  left: 45%;
}

.boton1 {
  position: absolute;
  top: 60%;
  left: 50%;
  cursor: pointer;
  text-decoration: none;
  padding: 10px 40px;
  font-weight: 600;
  font-size: 40px;
  color: #ffffff;
  background-color: #a349a4;
  border-radius: 10px;
  border: 2px solid #a349a4;
  font-family: sans-serif;
}

.boton1:hover {
  color: #ffffff;
  background-color: #31a3dd;
  border: none;
}

.boton2:hover {
  color: #1883ba;
  background-color: #ffffff;
}

.cajabanner {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 108%;
  margin: 0 auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

.imgbanner {
  width: 100%;
  max-width: 100%;
  height: 700px;
}

.itemservicios {
  display: flex;
  flex-wrap: wrap;
}

.row-service {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 0px 20px 30px;
}

.column-service {
  flex: 25%;
  padding: 0px 20px 30px;
  height: auto;
}

.column-service img {
  width: 350px;
  height: 250px;
  padding: 10px;
  transition: all 0.5s ease-in-out;
}

.column-service img:hover {
  filter: opacity(0.6);
  transform: translate(10px, 9%);
}

.pservicios {
  font-family: sans-serif;
  font-size: 18px;
  color: #31a3dd;
  text-align: justify;
  padding: 20px 80px 5px;
  align-items: center;
}

.cajaFunciona {
  width: 100%;
  height: auto;
  background-color: #e6e2f0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.container_footer {
  padding: 20px 20px 30px;
  max-width: 100%;
}

.container_derechos {
  padding: 10px 20px;
  text-align: center;
}

/* css para formulario de contact*/
.contenedorform {
  position: relative;
  width: 98%;
  max-width: 98%;
  margin: 0 auto;
}

.cajapcontact {
  position: relative;
  width: 98%;
  max-width: 98%;
  margin: 0 auto;
}

.cajainputs {
  width: 600px;
  height: 500px;
  position: relative;
  border: solid 2px #31a3dd;
  padding: 2%;
  background-color: none;
  border-radius: 10px;
  justify-content: start;
  display: inline-block;
}

.formulario label {
  margin: 15px 0px;
  clear: both;
  display: block;
  color: #e7e1e7;
  font-family: sans-serif;
}

.formulario input {
  padding: 4px;
  border: solid 1px #31a3dd;
}

.cajamap iframe {
  height: auto;
  width: 100%;
  align-content: center;
  margin: 0 auto;
}

input {
  padding: 10px 20px;
  font-family: sans-serif;
  font-size: 15px;
  cursor: pointer;
  background-color: #f8f5ff;
  border: solid 1px #ededed;
}

/**contenedor pasos**/
.contenedorgridpasos {
  display: grid;
  text-align: center;
  width: 50%;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(1, 200px);
  grid-column-gap: 5%;
  /* esta propiedad son los espacios entre columns usando cualquier valor de unidad*/
  grid-row-gap: 2%;
  /* esta propiedad son los espacios entre filas usando cualquier valos de unidad*/
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  padding: 80px 80px 70px 0;
}

.paso1 {
  border-radius: 40px 40px 40px 40px;
  background-image: url(../img/paso1.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
}

.paso1:hover {
  filter: opacity(0.6);
  transform: translate(10px, 9%);
  width: 110%;
}

.paso2 {
  border-radius: 40px 40px 40px 40px;
  padding: 0 0 100px 0;
  background-image: url(../img/paso2.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
}

.paso2:hover {
  filter: opacity(0.6);
  transform: translate(10px, 9%);
  width: 110%;
}

.paso3 {
  border-radius: 40px 40px 40px 40px;
  background-image: url(../img/paso3.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
}

.paso3:hover {
  filter: opacity(0.6);
  transform: translate(10px, 9%);
  width: 110%;
}

/*fin conetendor pasos*/
.contenedorgrid {
  display: grid;
  text-align: center;
  width: 50%;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(2, 200px);
  grid-column-gap: 2%;
  /* esta propiedad son los espacios entre columns usando cualquier valor de unidad*/
  grid-row-gap: 2%;
  /* esta propiedad son los espacios entre filas usando cualquier valos de unidad*/
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  padding: 10px 20px 20px;
}

.item1 {
  background-image: url(../img/item1.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
}

.item1:hover {
  filter: opacity(0.6);
  transform: translate(10px, 9%);
}

.item2 {
  background-image: url(../img/item2.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
}

.item2:hover {
  filter: opacity(0.6);
  transform: translate(10px, 9%);
}

.item3 {
  background-image: url(../img/item3.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
}

.item3:hover {
  filter: opacity(0.6);
  transform: translate(10px, 9%);
}

.item4 {
  background-image: url(../img/item4.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
}

.item4:hover {
  filter: opacity(0.6);
  transform: translate(10px, 9%);
}

.item5 {
  background-image: url(../img/item5.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
}

.item5:hover {
  filter: opacity(0.6);
  transform: translate(10px, 9%);
}

.item6 {
  background-image: url(../img/item6.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
}

.item6:hover {
  filter: opacity(0.6);
  transform: translate(10px, 9%);
}

.contenedorfunciona {
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #474949;
  background: rgba(0, 0, 0, 0.5);
  align-content: center;
  justify-content: center;
}

.cajaclientes {
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #474949;
  background: rgba(0, 0, 0, 0.5);
  border: 20px solid none;
  align-content: center;
  justify-content: center;
}

.caja_parrafos_clientes {
  font-family: sans-serif;
  height: 300px;
  width: 400px;
  text-align: justify;
  font-family: sans-serif;
  padding: 10px 20px 20px;
  text-align: justify;
}

.pnosotros_clientes {
  font-family: sans-serif;
  font-size: 18px;
  color: #31a3dd;
  text-align: justify;
}

.animado {
  opacity: 0;
  transition: all 0.5s;
}

.mostrarArriba {
  animation: mostrarArriba 1s;
}

/*Titulos h2 con efectos*/
.titulo-efect {
  padding: 10px 0px;
}
.titulo-efect h2 {
  display: inline;
  position: relative;
  font: 100px Helvetica, Sans-Serif;
  letter-spacing: -2px;
  color: #a349a4;
  width: 100%;
}
.titulo-efect h2:after {
  content: "Nosotros";
  position: absolute;
  left: 8px;
  top: 2px;
  color: #31a3dd;
  width: 100%;
}

.titulo-efect-funciona {
  padding: 30px 70px 10px 100px;
}
.titulo-efect-funciona h2 {
  display: inline;
  position: relative;
  font: 80px Helvetica, Sans-Serif;
  letter-spacing: -2px;
  color: #a349a4;
  width: 100%;
}
.titulo-efect-funciona h2:after {
  content: "Cómo Funciona";
  position: absolute;
  left: 8px;
  top: 2px;
  color: #31a3dd;
  width: 100%;
}

.titulo-efect--servicios {
  padding: 0 10%;
}
.titulo-efect--servicios h2:after {
  content: "Servicios";
}
.titulo-efect--servicios h2 {
  margin-left: 25%;
}

.titulo-efect--unete h2:after {
  content: "Únete";
}

.titulo-efect--contacto h2:after {
  content: "Escríbenos";
}

.titulo-efect--sectores h2:after {
  content: "Sectores";
}
.titulo-efect--sectores h2 {
  margin-left: 25%;
}
.titulo-efect--sectores p {
  font-size: 30px;
  text-align: center;
}

/*fin efect titulos h2*/
@keyframes mostrarArriba {
  0% {
    transform: translateX(-60px);
  }
  100% {
    transform: translateX(0);
  }
}
@media only screen and (max-width: 977px) {
  .cajaTexto {
    background-color: none;
    font-size: 40px;
    color: #e6e2f0;
    top: 5%;
    padding: auto;
    height: auto;
    flex-wrap: wrap;
    max-width: auto;
  }
}
@media only screen and (max-width: 718px) {
  .contenedorgrid {
    display: grid;
    text-align: center;
    width: 50%;
    grid-template-columns: repeat(1, 300px);
    grid-template-rows: repeat(4, 200px);
    grid-column-gap: 2%;
    /* esta propiedad son los espacios entre columns usando cualquier valor de unidad*/
    grid-row-gap: 2%;
    /* esta propiedad son los espacios entre filas usando cualquier valos de unidad*/
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    padding: 10px 20px 20px;
  }
}
@media only screen and (max-width: 718px) {
  .contenedorgridpasos {
    display: grid;
    text-align: center;
    width: 50%;
    grid-template-columns: repeat(1, 300px);
    grid-template-rows: repeat(4, 200px);
    grid-column-gap: 2%;
    /* esta propiedad son los espacios entre columns usando cualquier valor de unidad*/
    grid-row-gap: 2%;
    /* esta propiedad son los espacios entre filas usando cualquier valos de unidad*/
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    padding: 10px 20px 20px;
  }
}
@media only screen and (max-width: 597px) and (min-width: 155px) {
  .positionboton {
    position: absolute;
    top: 70%;
    left: 30%;
  }
}
@media only screen and (max-width: 333px) {
  .list_social ul,
li {
    display: none;
  }
}
@media only screen and (max-width: 431px) {
  .nav_red_footer li {
    display: inline-block;
    flex-wrap: wrap;
    padding: 6px;
  }
}
@media only screen and (max-width: 551px) {
  .imgnosotros img {
    text-align: center;
    width: auto;
    height: 300px;
    display: inline-block;
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 516px) {
  .imgnosotros img {
    text-align: center;
    width: 400px;
    height: 300px;
    display: flex;
    padding: 10px 10px 10px 10px;
  }
}
@media only screen and (min-width: 357px) and (max-width: 740px) {
  .caja_parrafos_como {
    width: auto;
    height: auto;
  }
}
@media only screen and (max-width: 509px) {
  .video,
iframe {
    padding: 0;
    padding: 10px 10px 10px 10px;
    width: 450px;
    height: 350px;
  }
}
@media only screen and (max-width: 442px) {
  .video,
iframe {
    padding: 0;
    padding: 10px 10px 10px 10px;
    width: auto;
    height: 350px;
  }
}
@media only screen and (max-width: 513px) and (max-width: 419px) {
  .picnosotros img {
    width: 350px;
    height: auto;
  }
}
@media only screen and (max-width: 541px) {
  .picnosotros img {
    padding: 0;
    width: 300px;
    height: auto;
  }
}
@media only screen and (max-width: 490px) {
  .imgnosotros img {
    display: none;
  }
}
@media only screen and (max-width: 991px) {
  .top-header .header_redes {
    display: none;
  }
}
@media only screen and (max-width: 991px) {
  .main {
    padding-top: 4rem;
  }
}
@media only screen and (max-width: 991px) {
  .cajaPn {
    width: 100%;
    height: auto;
    text-align: justify;
  }
  .cajaPn h2 {
    font-size: 80px;
  }
}
@media only screen and (max-width: 991px) {
  .titulo-efect--servicios {
    width: 100%;
    height: auto;
    text-align: justify;
  }
  .titulo-efect--servicios h2 {
    font-size: 80px;
    margin-left: 10%;
  }
}
@media only screen and (max-width: 991px) {
  .titulo-efect--sectores {
    width: 100%;
    height: auto;
    text-align: justify;
  }
  .titulo-efect--sectores h2 {
    font-size: 80px;
    margin-left: 10%;
  }
}
@media only screen and (max-width: 991px) {
  .titulo-efect--contacto {
    width: 100%;
    height: auto;
    text-align: justify;
  }
  .titulo-efect--contacto h2 {
    font-size: 72px;
    text-align: center;
  }
}
@media only screen and (max-width: 991px) {
  .formContact {
    width: 350px;
  }
  .formContact #comentarios {
    resize: none;
    width: 320px;
  }
}
@media only screen and (max-width: 991px) {
  .cajaPtn {
    width: 100%;
    height: auto;
    text-align: justify;
    font-size: 25px;
  }
}
@media only screen and (max-width: 991px) {
  .pnosotros_funciona {
    width: 100%;
    height: auto;
    font-size: 25px;
  }
}
@media only screen and (max-width: 991px) {
  .video,
iframe {
    padding: 0;
    padding: 10px 10px 10px 10px;
    width: auto;
    height: auto;
  }
}

/*# sourceMappingURL=estilos.css.map */
